@{
    var homeUrl = Href("~/");
}

<section class="branding">
    <h1>
        <a href="@homeUrl" id="logo">
                  CORY'S LAW
              </a>
    </h1>
    <h2>
        coming soon
    </h2>
</section>
