@{
    var homeUrl = Href("~/");
}

<section class="branding">
    <h1>
        <a href="@homeUrl" id="logo">
                  CODE, BIKE'S & EVERYTHING
              </a>
    </h1>
    <h2>
        by carl woodhouse
    </h2>
</section>
